<a href='@Url.Action("ModificarTarea", "Home", new {id = ViewBag.id})'>Modificar La Tarea</a>
<a href='@Url.Action("EliminarTarea", "Home", new { id = ViewBag.id })'>Eliminar</a>
<a href='@Url.Action("VerTareas", "Home")'>Volver al inicio</a>
<a href='@Url.Action("FinalizarTarea", "Home", new {id = ViewBag.id})'>Finalizar</a>