body {
  background: #f4f7ff;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  margin: 0;
}

.Index {
  max-width: 350px;
  margin: 50px auto;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px #b8c2e0;
  padding: 25px 18px;
  text-align: center;
}

.Index h2 {
  color: #3878e3;
  margin-bottom: 22px;
  font-size: 27px;
}

.Index input, .Index button {
  display: block;
  width: 90%;
  margin: 11px auto;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #3878e3;
  font-size: 15px;
}

.Index button {
  background: #3878e3;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.Index button:hover {
  background: #295bb2;
}

.Registro {
  max-width: 370px;
  margin: 50px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px #b8c2e0;
  padding: 25px 18px;
  text-align: center;
}

.Registro h2 {
  color: #3ea36b;
  margin-bottom: 22px;
  font-size: 27px;
}

.Registro input, .Registro button {
  display: block;
  width: 90%;
  margin: 11px auto;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #3ea36b;
  font-size: 15px;
}

.Registro button {
  background: #3ea36b;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.Registro button:hover {
  background: #257f4c;
}

.CrearTarea {
  max-width: 430px;
  margin: 40px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px #d5e2fa;
  padding: 27px 22px;
}

.CrearTarea h2 {
  color: #3878e3;
  margin-bottom: 18px;
  font-size: 24px;
}

.CrearTarea label {
  display: block;
  margin-top: 10px;
  color: #3878e3;
  font-weight: bold;
}

.CrearTarea input{
  width: 97%;
  margin: 9px 0;
  padding: 7px;
  border-radius: 6px;
  border: 1px solid #6da7fa;
  font-size: 15px;
}

.CrearTarea button {
  background: #3878e3;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.CrearTarea button:hover {
  background: #295bb2;
}

.ModificarTarea {
  max-width: 430px;
  margin: 40px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px #fae2d5;
  padding: 27px 22px;
}

.ModificarTarea h2 {
  color: #e38c38;
  margin-bottom: 18px;
  font-size: 24px;
}

.ModificarTarea label {
  display: block;
  margin-top: 10px;
  color: #e38c38;
  font-weight: bold;
}

.ModificarTarea input, .ModificarTarea textarea {
  width: 97%;
  margin: 9px 0;
  padding: 7px;
  border-radius: 6px;
  border: 1px solid #e6ba8a;
  font-size: 15px;
}

.ModificarTarea button {
  background: #e38c38;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.ModificarTarea button:hover {
  background: #c26e25;
}

.VerTarea {
  max-width: 420px;
  margin: 40px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px #d5fae2;
  padding: 27px 22px;
}

.VerTarea h2 {
  color: #3ea36b;
  margin-bottom: 14px;
  font-size: 24px;
}

.VerTarea button {
  background: #3ea36b;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 7px 14px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
  cursor: pointer;
}

.VerTarea button:hover {
  background: #257f4c;
}

.VerTareas {
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px #d5e2fa;
  padding: 24px 18px;
}

.VerTareas h2 {
  color: #3878e3;
  margin-bottom: 16px;
  font-size: 23px;
}

.VerTareas .tarea {
  background: #f0f6ff;
  border-radius: 8px;
  margin-bottom: 13px;
  padding: 13px 16px;
  box-shadow: 0 1px 3px #dde4f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.VerTareas button:hover {
  background: #295bb2;
}

.VerTarea a{
  color: #257f4c;
  margin-left: 35%;
  margin-right: 30%;
}

footer{
  text-align: center;
}